@tailwind base;
@tailwind components;
@tailwind utilities;

/* Normalize */
input[type="text"]::-ms-clear {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(60, 60, 60, 0.6);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(70, 70, 70, 0.7);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}

@layer components {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .no-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .line-clamp-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
